server/node_modules/
npm-debug.log
server/app/util/config.env
.tags
*.env
*.swp
*.pyc
.DS_Store
server/dist/
scripts/env/
server-php/src/vendor/
server/uploads/
server-php/src/logs/
venv/
build/
.idea/
python.db
tabil.db
