<!DOCTYPE html>
<html>

<head>
  <title>Tabil</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"></a>
      <ul id="nav-mobile" class="left">
        <li><a ng-click="goToHome()">Events</a></li>
        <li><a ng-click="goToFile()">Voices</a></li>
        <li><a ng-click="goToJingle()">Jingles</a></li>
        <li><a ng-click="goToSettings()">Settings</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">

  <div class="form-group row">
    <label for="bear-name" class="col-2 col-form-label">Bear Name</label>
    <div class="col-10">
      <input class="form-control" type="text" value="{{Bear_Name}}" id="bear-name">
    </div>
  </div>

  <form>
    <div class="row">
      <div input-field class="col m9">
        <input type="text" ng-model="dummyInputs.inputFieldInput" length="150" readonly placeholder="{{Current_Bear_Time}}">
        <label>Click sync to use your devices time as the bears current time.</label>
      </div>
      <div class="col offset-m1 m2">
        <a class="btn">Sync</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <button type="button" class="btn orange lighten-2">Restart Bear</button>
      </div>
    </div>
  </form>

  <!-- Container DIV  -->
</div>
</body>
</html>
