<!DOCTYPE html>
<html>

<head>
  <title>Tabil</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"></a>
      <ul id="nav-mobile" class="left">
        <li><a ng-click="goToHome()">Events</a></li>
        <li><a ng-click="goToFile()">Voices</a></li>
        <li><a ng-click="goToJingle()">Jingles</a></li>
        <li><a ng-click="goToSettings()">Settings</a></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="card">
      <div class="card-content">
        <div class="card-title">Settings</div>
        <div class="row">
          <a class="btn">Sync Computer Time</a>
        </div>
        <div class="row">
          <div class="col-md-2">
            <button type="button" class="btn orange lighten-2">Restart Bear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
