<!DOCTYPE html>
<html>

	<head>
		<title>Tabil</title>

		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo right">Tabil</a>
				<ul id="nav-mobile" class="left">
					<li><a href="#">Events</a></li>
					<li><a href="Files.html">Files</a></li>
	        <li><a href="settings.html">Settings</a></li>
		    </ul>
			</div>
	  </nav>

		<div class="container">
    	<div class="row">

				<div input-field>
					<select class="" ng-model="select.value1" material-select watch>
						<option value="">---Please select---</option> <!-- not selected / blank option -->
						<option value="{{data.option1}}">Option 1</option> <!-- interpolation -->
			      <option value="option-2">Option 2</option>
					</select>
				</div>
			</div>		
				
			<div class="row">
				<label for="input_starttime">Time</label>
				<input id="input_starttime" input-clock data-twelvehour="false" type="text">
			</div>

			<div class="row">
				<!-- Modal Trigger -->
				<div class="col s2">
				  <a class='btn' data-target='demoModal' modal>Select Audio File</a>
				</div>

				<div class="col offset-m1 m9 s12">
					<input id="selected_file_name" readonly type="text" placeholder="Filename">
				</div>
					<!-- Modal Structure -->
				<div id="demoModal" class="modal">
					<div class="modal-content">
						<h4>File Select</h4>
				    <p>A bunch of files</p>
					</div>
				<div class="modal-footer">
					<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Select</a>
				</div>
			</div>

			<a class="btn col s2 offset-s10">Create Event!</a>

	  </div>
	</body>
</html>
