<!DOCTYPE html>
<html>

  <head>
    <title>Tabil</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right"></a>
        <ul id="nav-mobile" class="left">
          <li><a ng-click="goToHome()">Events</a></li>
          <li><a ng-click="goToFile()">Voices</a></li>
          <li><a ng-click="goToJingle()">Jingles</a></li>
          <li><a ng-click="goToSettings()">Settings</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">

      <div class="card">
        <div class="card-content">
          <div class="card-title"> Events for {{day}}
            <div class="col s2 m2">
              <a class='dropdown-button btn right' href='javascript:void(0);' data-activates='dayDropdown' dropdown >
                {{day}}
              </a>

                <!-- Dropdown Structure -->
                <ul id='dayDropdown' class='dropdown-content'>
                  <li><a ng-repeat="days in weekdaysFull" ng-click="setDay(days)">{{days}}</a></li>
                </ul>
            </div>

          </div>
          <table>
            <thead>
              <tr>
                <th>Time</th>
                <th>Voice</th>
                <th>Jingle</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="event in dayEvents">
                <td>{{event.timeDay}}</td>
                <td>{{event.voice_name}}</td>
                <td>{{event.jingle_name}}</td>
                <td class="card-action">
                  <a class="waves-effect waves-light btn right red edit-controls" ng-click="deleteEvent(event.event_id)">X</a>
                  <a class="waves-effect waves-light btn right edit-controls" ng-click="selectEvent(event)">Edit</a>
                  <!--<a class="waves-effect waves-light btn right edit-controls" ng-click="editing = true">Edit</a>-->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div ng-show="editing">
        <div class="card">
          <div class="card-content">
            <!--<form name="editEvent" ng-submit="updateEvent(chosen_event)">-->
            <form name="editEvent" ng-submit="updateEvent(chosen_event)">
              <div class="row">
                <div class="input-field col s12">
                  <label for="input_starttime">Time</label>
                  <input id="input_starttime" input-clock data-twelvehour="false" type="text" ng-model="chosen_event.timeDay">
                </div>
              </div>
              <div class="row">
                <label>Day of Event</label>
                <div input-field>
                  <select class="" ng-model="chosen_event.day" material-select watch>
                    <option ng-repeat="day in weekdaysFull" value="{{day}}">{{day}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <label>Voice</label>
                <div input-field>
                  <select class="" ng-model="chosen_event.voice_name" material-select watch>
                    <option ng-repeat="voice in voices" value="{{voice.voice_name}}">{{voice.voice_name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <label>Jingle</label>
                <div input-field>
                  <select class="" ng-model="chosen_event.jingle_name" material-select watch>
                    <option ng-repeat="jingle in jingles" value="{{jingle.jingle_name}}">{{jingle.jingle_name}}</option>
                  </select>
                </div>
              </div>
              <button class="btn waves-effect" type="submit">Save Event</button>
              <button class="btn" ng-click="editing = false">Cancel</button>
            </form>
        </div>
      </div>
    </div>

      <div ng-show="createNew">
        <div class="card">
          <div class="card-content">
            <form name="createEvent" ng-submit="addEvent(event)">
              <div class="row">
                <div class="input-field col s12">
                  <label for="input_starttime">Time</label>
                  <input id="input_starttime" input-clock data-twelvehour="false" type="text" ng-model="event.timeDay">
                </div>
              </div>
              <div class="row">
                <label>Day of Event</label>
                <div input-field>
                  <select class="" ng-model="event.day" material-select watch>
                    <option ng-repeat="day in weekdaysFull" value="{{day}}">{{day}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <label>Sound</label>
                <div input-field>
                  <select class="" ng-model="event.voice_name" material-select watch>
                    <option ng-repeat="voice in voices" value="{{voice.voice_name}}">{{voice.voice_name}}</option>
                  </select>
                </div>
              </div>
              <div class="row">
                <label>Jingle</label>
                <div input-field>
                  <select class="" ng-model="event.jingle_name" material-select watch>
                    <option ng-repeat="jingle in jingles" value="{{jingle.jingle_name}}">{{jingle.jingle_name}}</option>
                  </select>
                </div>
              </div>
              <!--<button class="btn waves-effect" type="submit" ng-click="addEvent(event)">Create Event</button>-->
              <button class="btn waves-effect" type="submit">Create Event</button>
              <button class="btn" ng-click="createNew = false">Cancel</button>
            </form>
          </div>
        </div>
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue" ng-click="createNew = !createNew" tooltipped data-position="left" data-tooltip="Add an event">
          <i class="large material-icons">library_add</i>
        </a>

      </div>
    </div>


  </body>
</html>
