
/* Top row spacing */
.top_spacing {
  margin-top: 10px;
}

/* X and Edit controlls in tables */
.edit-controlls {
  margin-right: 5px;
}

/* Block that holds the form for event creation */
.event-creator {
  margin-top: 3rem;
}
