<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Teddybear Talker</title>
	<link href="build/static/css/main.c17080f1.css" rel="stylesheet">
  </head>

  <body>
	<div id="root">
		<script type="text/javascript" src="build/static/js/main.cc499d2e.js"></script>
	</div>
  </body>
</html>
