<!DOCTYPE html>
<html>

  <head>
    <title>Tabil</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right"></a>
        <ul id="nav-mobile" class="left">
          <li><a ng-click="goToHome()">Events</a></li>
          <li><a ng-click="goToFile()">Files</a></li>
          <li><a ng-click="goToSettings()">Settings</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col s12 m12">
          <div class="card">
            <div class="row">
              <div class="card-content">
                <div class="row">
                  <div id="day" class="col s12">
                    <table>
                      <thead>
                        <tr>
                          <th>Sound Location</th>
                          <th>Sound Name</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="sound in sounds">
                          <td>{{sound.path}}</td>
                          <td>{{sound.name}}</td>
                          <td>
                            <a class="waves-effect waves-light btn right red edit-controlls"ng-click=deleteFile(sound.audio_id)>X</a>
                            <a class="waves-effect waves-light btn right edit-controlls" ng-click="selectFile(sound)">Edit</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div ng-show="editing">
          <div class="row">
            <div class="card">
              <div class="card-content">
                <div>
                  <!--<form name="editFile" ng-submit="updateFile(chosen_file)">-->
                  <form name="editFile" ng-submit="editing = false">
                    <div class="row">
                    <label>Filename</label>
                    <input type="text" ng-model="chosen_file.name" placeholder="{{chosen_file.name}}" ng-required />
                    <label>Filepath: {{chosen_file.path}}</label>
                    <div class="row">
                      <button class="btn waves-effect" type="submit">Save Event</button>
                    </div>
                  </div>
                  </form>
              </div>
            </div>
          </div>
          </div>
        </div>


        </div>
      </div>
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large blue" data-target="uploadModal" modal>
          <i class="large material-icons">publish</i>
        </a>
      </div>

      <!-- Modal Structure -->
      <div id="uploadModal" class="modal">
        <div class="modal-content">
          <h4>File Select</h4>
          <p>Select a file that you want to upload to the bear!</p>

          <div class="file-field input-field">
            <div class="btn">
              <span>File</span>
              <input type="file" nv-file-select uploader="uploader">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="Upload one or more files">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <a class="btn modal-action modal-close waves-effect" ng-click="uploader.queue[0].upload()">Upload</a>
        </div>
      </div>
    </div>
  </body>
</html>
