<!DOCTYPE html>
<html>

	<head>
		<title>Tabil</title>

		<meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">

	</head>

	<body>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right"></a>
        <ul id="nav-mobile" class="left">
          <li><a ng-click="goToHome()">Events</a></li>
          <li><a ng-click="goToFile()">Files</a></li>
          <li><a ng-click="goToSettings()">Settings</a></li>
        </ul>
      </div>
    </nav>

				<div class="collapse navbar-collapse" id="myNavbar">
      		<ul class="nav navbar-nav">
        		<li><a ng-click="goToHome()">Scheduler</a></li>
        		<li><a ng-click="goToSettings()">Settings</a></li>
      		</ul>
					<ul class="nav navbar-nav navbar-right">
    		   	<li><a href="#"><span class="glyphicon glyphicon-cloud-upload"></span> Upload</a></li>
		      </ul>
    		</div>
		  </div>
		</nav>

		<div class="container">






		</div>
	</body>
</html>
